[submodule "public"]
	path = public
	url = https://github.com/larry-lime/lawrencelim.github.io
[submodule "static/docs/lawrence_lim_resume"]
	path = static/docs/lawrence_lim_resume
	url = https://github.com/larry-lime/lawrence-lim-resume
